import {search} from '../../utilities/index.js'; 
class {
  onCreate() {
    this.state = {
      isLoading: true,
      isError: false,
      data: [],
    };
    
  }
  onMount() {
    search().then(data => console.log(data))
  }
}


<div.search>
    ${JSON.stringify( state.data)}
</div>

style {
  .search{
  display: grid;
  grid-template-columns: 1fr auto;
  }
}