<nav>
  <h1.navTitle>
    ${input.navTitle}
  </h1>
  
</nav>

style {
  nav {
    margin-top: var(--du-8);
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  .navTitle {
    font-size: var(--ramp-t4);
  }
}